// COLORS

$primary: #ff6600;
$secondary: #d1d5d4;
$tertiray: #b3b3b2;
$info: #ffe0cc;

// CSS
@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
}

body {
  font-family: "Montserrat", sans-serif !important;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.linkedin {
  color: #0a66c2;
}

.github {
  color: whitesmoke;
}

.footer {
  background-color: #2b3035;
}

.hoverable:hover {
  cursor: pointer;
  color: #ff6600;
}

.small {
  font-size: 0.8rem !important;
}

.cardhover:hover {
  box-shadow: 0px 0px 23px 5px rgba(186, 186, 186, 1) !important;
}

.star:hover {
  cursor: pointer;
}

.sidefixed {
  position: sticky;
  top: 30px;
}

.warrentyDiv {
  background-color: #ffefe5;
  background-image: url("https://www.automobile.it/_next/static/media/trust-section-bg.fa9d7790.svg");
  background-repeat: no-repeat;
  background-position-x: 101%;
  background-position-y: 25px;
}

.carCardHover {
  box-shadow: 0px 0px 23px 5px rgba(186, 186, 186, 1);
  cursor: pointer;
}

.carPageBack:hover {
  background-color: whitesmoke !important;
  border-color: #ff6600 !important;
}

.hero-text {
  font-size: 5rem;
  -webkit-text-stroke: 1px black;
}

.hero {
  background-image: url("../assets/images/hero.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20%;
}

.back-to-top {
  position: fixed;
  right: 0.2%;
  bottom: 0.5%;
}

// Import BS
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
